@{
    ViewData["Title"] = "Home Page";
}

<div class="container m-5 text-center mx-auto">
    <h1 class="jumbotron-heading">Приключения под открито небе</h1>
    <p class="lead text-muted m-5">
        Добре дошли в моя блог за пътувания! Тук ще намерите истории, съвети и вдъхновения от моите приключения по света. Независимо дали търсите идеи за следващата си дестинация или просто искате да се потопите в разкази за далечни места, този блог е за вас. Приятно четене и щастливо пътуване!
    </p>

    <a asp-controller="Holiday" asp-action="Index" class="btn btn-sm btn-success p-2">Почивки</a>
    <a asp-controller="Adventure" asp-action="Index" class="btn btn-sm btn-success p-2">Приключения</a>
</div>
