@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">My blog</h1>
        <p class="lead text-muted">
            Welcome to my travel blog! Here you will find stories, tips, and inspirations from my adventures around the world. Whether you're looking for ideas for your next destination or just want to immerse yourself in tales of distant places, this blog is for you. Happy reading and happy travels!
        </p>
        <p>
            <a asp-controller="Holiday" asp-action="Index"  class="btn btn-sm btn-primary">Holiday</a>
            <a asp-controller="Adventure" asp-action="Index"  class="btn btn-sm btn-primary">Adventure</a>
        </p>
    </div>
</section>

